<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <title>Dad Joke Generator</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body class="bg-teal-50">
    <div
      class="h-screen flex justify-center items-center flex-col w-1/2 mx-auto text-center"
    >
      <h1 class="text-3xl pb-5">Dad Joke Generator</h1>
      <p class="text-teal-500 text-4xl"><%= joke %></p>
      <a
        class="text-white py-2 px-8 bg-teal-900 rounded-2xl mt-8"
        style="color: white"
        href="/auth/logout"
        >Logout</a
      >
    </div>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Done</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <p>This is the homepage</p>
        <a class="navbar-brand" href="/">
          <img class="logo" src="" alt="" />
          &nbsp; 
        </a>
        <a
          class="navbar-brand btn btn-danger btn-small"
          style="color: white"
          href="/auth/logout"
          >Logout</a
        >
      </div>
    </nav>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="ejs.min.js"></script>
  </body>
</html> -->
